* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #f7f2e8;

    & img {
        width: 1, 188px;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 220px;
    padding-right: 220px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    & div {
        display: flex;
        align-items: center;

        & a {
            margin-left: 30px;
            font-size: 20px;
            color: #3c0e0e;
            font-weight: 500;
            border-bottom: 5px solid transparent;
            transition-duration: 200ms;

            &:hover {
                border-bottom: 5px solid #3c0e0e;
            }

            &.btn {
                background-color: #3c0e0e;
                color: #f7f2e8;
                padding: 5px 26px 0 26px;
                border-radius: 30px;
            }

        }
    }

}

#topo {
    padding: 0 220px;
    display: flex;
    justify-content: space-between;

    & div:first-child {
        padding-top: 160px;
        padding-left: 40px;
        color: #3c0e0e;

        & h3 {
            font-size: 24px;
            margin-bottom: 8px;
        }

        & h2 {
            font-size: 80px;
            line-height: 84px;
            margin-bottom: 8px;
        }
    }

    & p {
        width: 350px;
    }

    /* & img{ */
    /* width: 500px; */
    ;
}

#cafes {
    background-image: url("/assets/bg.div2.png");
    background-size: cover;
    background-repeat: no-repeat;

    & .textos {
        color: #3c0e0e;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        & h2 {
            font-size: 40px;
            font-weight: 600;

        }

        & .detalhe {
            width: 65px;
            height: 1px;
            background-color: #3c0e0e;
            margin-bottom: 16px;
        }

        & p {
            width: 540px;
            margin-bottom: 30px;
        }

        & a {
            color: #000000;
            font-weight: bold;
        }

    }

    & .grade {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 70px;
        padding: 0 110px;
        margin-top: 60px;
        text-align: center;


        & div {

            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 48px;
            color: #f7f2e8;
            padding: 25px 30px;

            &.cafe1 {
                background: linear-gradient(202.65deg, #F6C7C5 4.72%, #C27D7A 102.83%);
            }

            &.cafe2 {
                background: linear-gradient(202.65deg, rgba(250, 250, 250, 0.95) 4.72%, rgba(84, 21, 17, 0.58) 102.83%);
            }

            &.cafe3 {
                background: linear-gradient(202.65deg, rgba(10, 9, 9, 0.95) 4.72%, rgba(84, 21, 17, 0.95) 102.83%);
            }

            & h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            & h2 {
                font-size: 32px;
                margin-bottom: 20px;
            }

            & a {
                display: block;
                border-radius: 25px;
                background-color: #f7f2e8;
                width: 100%;
                line-height: 46px;
                text-align: center;
                color: #000000;
                font-weight: bold;
                margin-top: 30px;
                box-shadow: 0 8px 7px #00000025;
            }


        }
    }

}

#receitas {
    width: 1170px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3c0e0e;

    & span {
        background-color: #ffffff;
        line-height: 40px;
        display: inline-block;
        padding: 0 15px;
        border-radius: 20px;
        color: #f9c4c4;
        font-weight: bold;
    }

    & h2 {
        font-size: 80px;
        font-weight: bold;
        color: #3c0e0e;
    }

    & .detalhe {
        width: 50px;
        height: 1px;
        background-color: #3c0e0e;
        margin-left: 5px;
        margin-top: 5px;
    }

    & h3 {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 16px;

    }

    & p {
        color: #3c0e0e;
        font-size: 16px;
        margin-bottom: 16px;
    }

    & a {
        color: #3c0e0e;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 16px;
        margin-top: 100px;

    }
}
 #delivery {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        border-radius: 48px;
        padding-radius: 30px;
        width: 1115px;
        height: 370px;
        background-image:linear-gradient(#f3c7c4f2, #541511f2);
        color: #fafafa;
        text-align: right;
        padding: 20px;
        margin-bottom: 40px;

        & img {
            margin-top: -150px;
        }

        & h2 {
            font-size: 48px;
            font-weight: bold;
            margin-top: 30px;
            padding: 20px;
        }

        & p {
            padding: 20px;
        }

        & a {
            width: 280px;
            line-height: 50px;
            font-weight: bold;
            background-color: #ffffff;
            color: #000000;
            border-radius: 25px;
            display: inline-block;
            text-align: center;
            margin-top: 30px;
            box-shadow: 0 8px 7px;
        }
    }
    
#localização{
        width: 1115px;
        margin: 0 auto;
        border-radius: 48px;
        color: #ffffff;
        display: flex;
        background-image: linear-gradient(#541511a8, #f3c7c4);
        padding-left: 40px;
        position: relative;
        justify-content:space-between;
        

        & h1{
            font-size: 80px;
            line-height: 84px;
            margin-top: 55px;
        }
        & h6{  
            font-size: 24px;
            margin-top: 16px;

        }
        & p{width: 300px;
            margin-top: 40px;

        }
        & .detalhe{
            width: 50px;
            height: 1px;
            background-color: #ffffff;
        }
        & a{
            width: 280px;
            font-size: 16px;
            color: #3c0e0e;
            
        }
        & img{      
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% ,-50%);

        }
        & h2{ font-size: 80px;
            line-height: 84px;
            font-weight: bold;
            margin-top: 55px;
        }
        & > div:nth-of-type(2){
            border-radius: 0 48px 48px 0;       
            width: 370px;
            background-image:linear-gradient(202.65deg, #8f423d 4.72%, #ffffff 102.83%);
            padding: 0px 34px;

            & h2{
                font-size: 40px;
            }

            & .detalhe{
                width: 100%;
                margin-bottom: 26px;
            }
            & .endereco{
                display: flex;
                align-items:center;
            
                & box-icon{
                    width: 60px;
                    height: 29px;
                    fill: #ffffff;
                }
                & p{ 
                    margin-bottom: 0;
                }


            }
        }
    }
    footer{
        display: flex;
        align-items: center;
        width: 1115px;
        justify-content: space-between;
        margin: 100px auto;
        padding-top: 100px;
        font-style: bold;
        & h6{
            font-size: 20px;
            font-weight: 500;
            margin-top: 10px;
        
        }
        & ul, & ol{
            list-style: none;
            
        }
        & ul{
            display: flex;
            gap: 10px;
            margin-top: 16px;
        }
        & div{
            font-size: 16px;
            font-style: italic;
        }
        & a{
            color: #000000;
            &:hover{ 
                color: #C27D7A;
                padding-left: 10px;
            }
        
        }
        & div:nth-of-type(1){
            & p{  width: 300px;
                margin-bottom: 20px;
            }
               
        
        }

    }